# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Docker / Logs
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Sensitive / Secrets
.env
.env.*
secrets.py
